<div class="row mx-12">
  <div class="my-2 rounded-lg border p-12">
    <label for="testButton">Connection Test</label><br />
    <button
      id="testButton"
      class="my-2 rounded-lg bg-blue-500 px-4 py-2 text-white"
      (click)="onTest()">
      {{ testResponse || 'test' }}
    </button>
  </div>
  <div class="my-2 rounded-lg border p-12">
    <label class="mb-2 block text-sm font-medium text-gray-900" for="file_input"
      >Upload Test</label
    >
    <input
      class="block w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:outline-none"
      id="file_input"
      type="file"
      (change)="onChange($event)"
      #fileUpload />
    <br />
    <span>status: {{ status }} </span>
    <br />
    <button
      class="my-2 rounded-lg bg-blue-500 px-4 py-2 text-white"
      (click)="onUpload()">
      upload
    </button>
  </div>
  <div class="rounded-lg border p-12">
    <div *ngIf="loading">
      <app-loader></app-loader>
    </div>
    <div *ngIf="!loading">
      <li *ngFor="let f of files">/{{ f.name }}</li>
    </div>
    <button
      class="my-2 rounded-lg bg-blue-500 px-4 py-2 text-white"
      (click)="onRefresh()">
      refresh file list
    </button>
  </div>
  <div class="rounded-lg border p-12">
    <div *ngIf="loading">
      <app-loader></app-loader>
    </div>
    <div *ngIf="!loadingImages">
      <div *ngFor="let i of images">
        <img [src]="i.content" alt="image" />
      </div>
    </div>
    <button
      class="my-2 rounded-lg bg-blue-500 px-4 py-2 text-white"
      (click)="onRefresh()">
      refresh file list
    </button>
  </div>
</div>
